.navbar {
  padding: 2rem 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background: $color-primary;

  &__logo {
    &__link {
      font-size: 2rem;
      text-decoration: none;
      font-weight: 500;
      color: $color-white;
    }
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 30%;

    &__item {
      font-size: 1.5rem;
      text-decoration: none;
      font-weight: 500;
      color: $color-white;
      transition: 0.3s all;

      &:hover {
        color: $color-grey;
      }
    }
  }
}
